@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-clr: #4C763B;
  --secondary-clr: #A9C3AB;
  --tertiary-clr: #94b4a3;
  --background-clr: #F3F1E4;
  --button-color: #4AAC78;
  --font-family: "Inter", san-serif;
  --font-light-clr: #FFFFFF;
  --title-size: 1.5rem;
  --quote-size: 1.4rem;
  --subheading-size: 1.5rem;
  --hero-text-size: 4rem;
  --nav-size: 1.2rem;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  line-height: 1.4;
  font-family: var(--font-family);
  background: var(--background-clr);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  img {
    user-select: none;
  }
}

header {
  position: fixed;
  display: flex;
  place-items: center;
  place-content: center;
  gap: 200px;
  min-height: 8vh;
  width: 100vw;
  line-height: 1.4;
  background: var(--background-clr);
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  z-index: 2;

  h1 {
    font-weight: 500;
  }

  .logo {
    display: flex;
    gap: 10px;
    place-items: center;

    h1 {
      font-size: var(--title-size);
    }
  }

  nav {
    display: flex;
    gap: 52px;

    > button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: var(--nav-size);
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom-color: var(--primary-clr);
      }
    }
  }
}

#content {
  padding-top: 8vh;

  /* Home Page */
  .hero-section {
    background: var(--primary-clr);
    color: var(--font-light-clr);
    display: flex;
    place-content: center;
    padding: 10px 120px 10px 120px;

    .call-to-action {
      display: flex;
      flex-direction: column;
      margin-top: 30px;

      h1 {
        font-size: var(--hero-text-size);
        margin: 0;
        
      }

      h2 {
        font-size: var(--subheading-size);
        font-weight: 400;
        padding-right: 30px;
      }

      .cta-button {
        background: var(--button-color);
        color: var(--font-light-clr);
        font-size: calc(var(--subheading-size) - 5px);
        padding: 15px;
        margin-top: 50px;
        width: 170px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    img {
      width: 716px;
      height: 573px;
      transition: 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .quote-section {
    background: var(--secondary-clr);
    display: flex;
    place-content: center;
    place-items: center;
    padding: 30px 100px 30px 100px;

    .quote-card {
      background: var(--primary-clr);
      margin: 20px;
      padding: 50px;
      min-width: 600px;
      max-width: 600px; 
      min-height: 400px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      place-items: center;
      place-content: center;

      p:nth-child(1) {
        flex-grow: 1;
        text-align: right;
        padding-left: 50px;
        color: var(--font-light-clr);
        font-size: var(--quote-size);
        font-weight: 500;
        padding-bottom: 20px;
        border-bottom: 2px solid white;
        margin-bottom: 40px;
      }

      p:nth-child(3) {
        flex-grow: 2;
        color: var(--font-light-clr);
        font-size: calc(var(--quote-size) - 3px);
        font-weight: 500;
        margin-top: 10px;
      }
    }
  }

  .grid-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 350px));
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "potrait landscape landscape"
      "potrait square-1 square-2";
    gap: 25px;
    place-content: center;
    padding: 50px 150px 50px 150px;

      img {
        width: 100%;
        height: 100%;
        transition: 0.2s ease;

        &:hover {
          transform: scale(1.020);
        }
      }

      #potrait {
        grid-area: potrait;
      }

      #landscape {
        grid-area: landscape;
      }

      #square-1 {
        grid-area: square-1;
      }

      #square-2 {
        grid-area: square-2;
      }
  }

  /* Menu Page */
  .menu-header {
    color: var(--font-light-clr);
    font-size: var(--title-size);
    background: var(--primary-clr);
    text-align: center;
    padding: 50px 0px 50px 0px;
  }

  .menu-button {
    display: flex;
    gap: 20px;
    place-content: center;
    margin: 30px 0px 30px 0px;

    button {
      color: var(--font-light-clr);
      font-size: calc(var(--subheading-size) - 2px);
      background: var(--secondary-clr);
      border: none;
      border-radius: 10px;
      padding: 10px 20px 10px 20px;;
      cursor: pointer;
      transition: 0.3s ease;

      &:nth-child(2) {
        background: var(--primary-clr);
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .menu-card {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
      grid-template-rows: repeat(2, 1fr);
      gap: 50px;
      padding: 10px;
      margin-bottom: 100px;
      place-content: center;

      .product-card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 20px;
        box-shadow: 1px 6px 16px 1px rgba(0,0,0,0.53);
        transition: 0.3s ease;
        cursor: pointer;

        h1, p {
          font-size: calc(var(--subheading-size) + 3px);
          padding: 10px 0px 10px 20px;
        }

        p {
          color: var(--primary-clr);
          font-weight: bold;
        }

        &:hover {
          transform: scale(1.025);
        }
      }
  }

  /* About Page */
  .about {
    display: flex;
    gap: 50px;
    place-items: center;
    place-content: center;
    margin: 30px 200px 100px 200px;

    .about-text {
      display: flex;
      flex-direction: column;
      gap: 30px;

      h1 {
        font-size: calc(var(--hero-text-size) - 10px);
      }

      p {
        font-size: calc(var(--title-size) - 2px);
      }
    }
  }

  /* Contact Page */
  .contactDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "left right right";
    gap: 50px;
    margin: 50px 100px 50px 100px;

    .left {
      grid-area: left;
      display: flex;
      flex-direction: column;
      gap: 20px;

      p {
        font-size: var(--nav-size);
      }
    }

    .right {
      grid-area: right;
      display: flex;
      gap: 20px;
      overflow-x: hidden;

      h1 {
        margin-bottom: 20px;
      }

      p {
        font-size: calc(var(--quote-size) - 4px);
      }
    }
    
    .left, .right {
      color: var(--font-light-clr);
      background: var(--primary-clr);
      border-radius: 20px;
      padding: 30px;
    }
  }
}

footer {
  margin-top: auto;
  border-top: 2px solid rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  place-items: center;

  .footer-content {
    display: flex;
    justify-content: space-between;
    padding: 40px 120px 40px 120px;

    .left-info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-right: 500px;

      .logo-with-title {
        display: flex;
        place-items: center;

        h1 {
          font-size: calc(var(--title-size) - 4px);
          font-weight: 500;
        }
      }

      p:nth-child(2) {
        font-weight: bold;
      }
    }

    .right-info {
      display: flex;
      gap: 250px;
      
      .first-part, 
      .second-part {
        h2 {
          margin-bottom: 20px;
        }

        a {
          text-decoration: none;
          color: inherit;
        }

        li {
          list-style-type: none;
          
          ul {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .copyright {
    background: var(--primary-clr);
    color: var(--font-light-clr);
    width: 100vw;
    padding: 10px;
    text-align: center;
    font-weight: 300;
  }
}

@media screen and (max-width: 1200px) {
  #content > section.hero-section > img {
    width: 500px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  #content {
    padding-top: 5vh;
  }

  header {
    flex-wrap: wrap;
    gap: 50px;
    padding: 10px 0px 10px 0px;
  }

  #content > section.hero-section {
    flex-direction: column;
    place-items: center;
    padding: 10px 30px 10px 30px;
  }

  #content > section.quote-section {
    flex-direction: column;
  }

  #content > section.grid-section {
    display: flex;
    flex-direction: column;
  }

  #content > .about {
    flex-direction: column;
    margin: 20px;
    
    > img {
      width: 500px;
      height: 300px;
      margin-top: 20px;
    }
  }

  #content > .contactDiv {
    display: flex;
    flex-direction: column;

    .right {
      flex-direction: column;
    }
  }

  div.footer-content {
    flex-direction: column;
    place-items: center;

    .left-info {
      margin: 0;
    }
  }
}

@media screen and (max-width: 630px) {
  #content {
    padding-top: 15vh;
  }
}
